footer {
    text-align: right;
    position:sticky;
    bottom:0;
}

header {
    position:sticky;
    top:0;
}

.copy-anim {
    font-size: 15px;
    color: dodgerblue;
    transition: color 1s, font-size 1s;
}

    .copy-anim:hover {
        font-size:18px;
        color: white;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.selector-button {
    width: 240px;
    height: 240px;
    transition: width 1s, height 1s;
}

    .selector-button:hover {
        width: 260px;
        height: 260px;
    }

.selector-text-box {
    color: #007bff;
    text-align: center;
    font-size:xx-large;
    text-decoration-color: none;
    text-decoration-line: none;
    transition: color 1s, text-align 1s;
}

    .selector-text-box:hover {
        color: white;
        text-decoration-color: none;
        text-decoration-line: none;
    }