* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url(underwater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header h1 {
    font-size: 8vh;
    z-index: 999;
}

.animation {
    height: 100vh;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    position: relative;
    overflow: hidden;
}

.sabertooth {
    height: 10vh;
    position: absolute;
    top: 0%;
    left: -15vh;
}

.tbox {
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.tbox.visible {
    position: absolute;
    justify-content: center;
    align-items: center;
    opacity: 1;
}